apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: resume-builder
  labels:
    app: api
    app.kubernetes.io/name: api
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: resume-builder
spec:
  type: ClusterIP
  selector:
    app: api
  ports:
    - name: http
      port: 3000
      targetPort: http
      protocol: TCP
